<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.dao.MenuDao">

    <select id="findByRolesOrderBySort" resultType="com.lemon.domain.entity.Menu">


    </select>

    <select id="getByUserId" resultType="com.lemon.domain.entity.Menu">

        select m.*
		from user u
		LEFT JOIN users_roles ur on u.id= ur.user_id
		LEFT JOIN role r on ur.role_id=r.id
		LEFT JOIN menus_roles mr on mr.role_id=r.id
		LEFT JOIN menu m on m.id =mr.menu_id
		where u.id =#{id}
		ORDER BY m.sort
    </select>
</mapper>
